<!DOCTYPE html>

<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>빡독X부엉이</title>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">

    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/index.js}"></script>

    <!--<link rel="shortcut icon" type="image/x-icon" th:href="@{image/favicon.ico}" />-->
  </head>

  <body>
    <header th:replace="fragments/header :: headerFragment"></header>
    <div layout:fragment="content"></div>
    <footer th:replace="fragments/footer :: footerFragment"></footer>
  </body>

</html>