#container {
  border: solid 0.01rem red;
  width: 90%;
  margin: 0 auto;
  overflow-x:hidden;
  overflow-y: auto;
}
#targetForm {
  text-align: center;
  vertical-align: middle;
  margin: 1rem 0 2rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: #3B271D;
}
#targetForm > span {
  cursor: pointer;
}
.numberBoard {
  background-color: #EFE0BB;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.numberBoard > .count {
  background-color: #FFFAF1;
  border-radius: 0.5rem;
  margin-right: 1rem;
  padding: 0 0.5rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3B271D;
  display: inline-block;
}
.numberBoard > .info {
  color: black;
  display: inline-block;
  margin: 0 auto;
}
.board {
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}
.detailBoard {
  border: solid 0.01rem #3B271D;
}
.info-title {
  font-weight: bold;
  color: #3B271D;
}